@import "../../core.scss";

/* -------------------------- MAIN -------------------------- */

main {
    display: flex;
    padding: 30px 0;
}

main form {
    margin: auto;
}

h1 {
    font-family: buenos_aires_trialblack, Arial, sans-serif;
    color: $violet-clair;
    font-size: 3.4em;
    margin-bottom: 20px;
}

#resetPasswordIndication {
    margin-bottom: 20px;
}

form input {
    width: 100%;
    padding: 11px;
    margin-bottom: 15px;
}

form button {
    font-size: 1.2em;
    border: none;
    padding: 7px 14px;
    transition: color 0.3s ease;
}

form button:hover {
    color: white;
}

::placeholder {
    color: rgba(51, 51, 51, 0.6);
}

.mailIndication {
    font-size: 1em;
    color: red;
    margin-top: 30px;
}

/* -------------------------- RESPONSIVE -------------------------- */

@media (max-width: 750px) {
    main form {
        width: 90%;
    }

    h1 {
        font-size: 2.8em;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.4em;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 2.2em;
    }
}

