<nav id="dashboardNav">
    <ul>
        <li><a href="{{ path("candidate_dashboard_profile") }}">Profil public</a></li>
        <li><a href="{{ path("candidate_dashboard_updateprofile") }}">Mettre à jour</a></li>
        <li><a href="{{ path("candidate_dasboard_applications") }}">Mes candidatures</a></li>
        <li><a href="{{ path("candidate_dashboard_cv") }}">Mon CV</a></li>
    </ul>
</nav>