@import "../../core.scss";

@media only screen and (max-width:800px)
 {
    .heightmenu {
        min-height: 20%;
    }
 }
 @media only screen and (min-width:800px)
 {
    .heightmenu {
        height: calc(100vh - 160px);
    }
 }


.businessImgContainer {
    width: 30%;
}

#resetPassword {
    outline: none;
    text-decoration: none;
    padding: 8px 8px;
    color: #f7f6f7;
    background-color: #3bdcc0 !important;   
    border-color: #333333 !important; 
    border-radius: .25rem;
    border: 1px solid transparent;
    height: max-content;
}

.businessImgContainer figure {
    width: 200px;
    min-width: 200px;
    height: 200px;
    min-height: 200px;
    border-radius: 5px;
    border: 1px solid rgba(51, 51, 51, 0.4);
    display: flex;
    margin: 15px auto 50px;
}

.businessImgContainer figure img {
    width: 100%;
    height: auto;
    margin: auto;
}

#avatarUser {
    position: relative;
}

#btnAvatarUser {
    height: max-content;
    width: max-content;
    position: absolute;
    margin-left: 20px;
    margin-top: 70px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.heightmenu
{
  
    background-color: $violet-clair;
    color: $vert;
    
}

.rightblock
{
    background-color: $violet-fonce;
}
.group-item-action:hover
{
   
    color:  #8bf5ec !important;
}
.list-group-item
{
    background-color: $violet-clair !important;
    color: white;
    padding-bottom: 80px;
}

.img-thumbnail
{
   
    width: 300px  !important;;
    height: 300px !important;;
    border-radius: 50% !important;
}
.avatar
{
  margin-left: 100px;
}
.formavatar
{
    text-align: right !important;
}

.positionmodal
{
    position: relative !important;
}
.btn-primary
{
    background-color: $vert !important;
    border-color: $noir !important;
}
