/* -------------------------- CONTENT -------------------------- */

#cvContentContainer {
    display: flex;
    justify-content: space-between;
}

#cvPreviewContainer {
    width: 550px;
    height: 810px;
    margin-bottom: 30px;
}

/* -------------------------- RESPONSIVE -------------------------- */