@import "../../core.scss";

/* -------------------------- MAIN -------------------------- */

body {
    overflow: hidden;
}

main {
    overflow: visible;
}

/* -------------------------- MODAL-BOX -------------------------- */

#modalBoxContainer {
    position: fixed;
    top: 12.5vh;
    left: 100%;
    z-index: 1000;
    width: 100%;
    height: 75vh;
    display: flex;
    opacity: 0.93;
    transition: all 0.4s ease;
}

#modalBoxContent {
    position: relative;
    width: 800px;
    height: 100%;
    margin: auto;
    padding: 25px;
    background-color: rgb(51, 51, 51);
    color: $blanc-clair;
    display: flex;
}

#closeModalBoxContainerButton {
    position: absolute;
    right: 15px;
    top: 5px;
    background-color: transparent;
    border: none;
    color: $blanc;
    transition: all 0.3s ease;
    padding: 2px;
    font-size: 2em;
    opacity: 0.9;
}

#closeModalBoxContainerButton:hover {
    color: $blanc-clair;
    opacity: 1;
}

#modalBoxContent {
    overflow: hidden;
    padding-right: 20px;
}

#applicationsContentContainer {
    overflow: auto;
    width: 100%;
    margin-top: 42px;
}

.applicationContainers {
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.3s ease;
    font-size: 0.8em;
    margin: 0;
    padding: 0 26px;
}

.modalSeparators {
    margin: 30px 0;
    background-color: $blanc;
    width: 100%;
    height: 1px;
    border: none;
}

.applicationControllersContainers {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.applicationControllersContainers a {
    text-transform: uppercase;
    font-size: 0.8em;
    color: black;
    background-color: $blanc;
    padding: 5px 14px;
    transition: all 0.3s ease;
}

.applicationContainers p {
    margin-bottom: 18px;
}

.applicationControllersContainers a:active, .applicationControllersContainers a:visited {
    color: black;
}

.applicationControllersContainers a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

/* -------------------------- CONTENT -------------------------- */

#offersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 30px;
    color: $violet-clair;
    font-size: 1.5em;
    font-weight: bold;
}

.offersContainers {
    padding: 25px;
    width: 48.5%;
    background-color: $blanc-clair;
    color: rgb(51, 51, 51);
    margin-bottom: 28px;
}

#errorNoOfferContainer {
    width: 100%;
    padding: 25px;
    color: $blanc-clair;
    background-color: $violet-clair;
}

#redirectOfferCreate {
    color: $blanc;
    transition: color 0.3s ease;
    text-decoration: underline;
}

#redirectOfferCreate:active, #redirectOfferCreate:visited {
    color: $blanc;
}

#redirectOfferCreate:hover {
    color: $blanc-clair;
}

h3 {
    font-size: 1.25em;
}

h3 a {
    color: $violet-clair;
    transition: color 0.3s ease;
}

h3 a:active, h3 a:visited, .businessRedirectLinks:active, .businessRedirectLinks:visited, .offersRedirectLinks:active,
.offersRedirectLinks:visited {
    color: $violet-clair;
}

h3 a:hover, .businessRedirectLinks:hover, .offersRedirectLinks:hover {
    color: $violet-fonce;
    text-decoration: none;
}

.offersDates {
    font-size: 0.7em;
    padding: 6px 12px;
    background-color: rgb(240, 240, 240);
    border-radius: 3px;
    width: max-content;
    margin-bottom: 8px;
}

.offersRedirectLinks {
    color: $violet-clair;
    font-size: 0.9em;
}

.fa-arrow-right {
    font-size: 0.88em;
}

.ghost {
    opacity: 0;
}

.separators {
    margin: 15px 0;
}

.applicationsContainers {
    display: flex;
    justify-content: space-between;
}

.applicationsControllers, .noApplication {
    font-size: 0.88em;
    color: rgb(230, 230, 230);
    background-color: $violet-fonce;
    padding: 5px 15px;
    border-radius: 4px;
    transition: all 0.3s ease;
    display: inline-block;
    opacity: 0.9
}

.dangerousButtonsDelete {
    font-size: 0.82em;
    color: rgb(230, 230, 230);
    background-color: red;
    padding: 4px 12px;
    opacity: 0.3;
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.applicationsControllers:hover {
    color: white;
    text-decoration: none;
    background-color: $violet-clair;
    opacity: 1;
}

.dangerousButtonsDelete:hover {
    opacity: 1;
    color: white;
}

.alert {
    margin-bottom: 25px;
}

#bodyFilterDashboard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);
    z-index: 4;
    animation: fadeIn 0.6s ease;
}

/* -------------------------- RESPONSIVE -------------------------- */

@media (max-height: 800px) {
    #modalBoxContainer {
        height: 70vh;
        top: 20vh;
        z-index: 2000;
    }
}

@media (max-width: 1000px) {
    .offersContainers {
        width: 100%;
    }

    #modalBoxContent {
        padding: 10px;
    }

    #dashboardContent {
        flex-direction: column;
    }

    #closeModalBoxContainerButton {
        font-size: 1.5em;
    }
}

@media (max-width: 750px) {
    .offersContainers {
        padding: 20px;
    }
}