@import "../../core.scss";

/* -------------------------- MAIN -------------------------- */

main, section {
    display: flex;
}

section {
    padding: 30px 0;
}

#firstSection {
    width: 58%;
}

#secondSection {
    width: 42%;
}

section > div {
    width: 80%;
    margin: auto;
}

/* -------------------------- LEFT-SECTION -------------------------- */

h1 {
    color: $violet-clair;
    font-family: buenos_aires_trialblack, Arial, sans-serif;
    margin-bottom: 30px;
    text-align: center;
    font-size: 2.9em;
}

#headerRegisterForm {
    display: flex;
    background-color: $violet-clair;
    color: $blanc;
    height: 80px;
}

#headerRegisterForm p {
    display: flex;
    margin: 0;
    width: 50%;
    height: 100%;
}

#headerRegisterForm p a {
    margin: auto;
    color: rgb(180, 180, 180);
    font-size: 1.6em;
}

#headerRegisterForm p a:hover {
    text-decoration: none;
}

#selected {
    color: $blanc !important;
}

#pSelected {
    border-bottom: 7px solid $vert;
    box-sizing: content-box;
    z-index: 1;
}

#firstSection form {
    padding: 35px;
    background-color: $blanc-clair;
}

form input {
    padding: 11px;
    border: none;
}

form button {
    letter-spacing: 2px;
    padding: 8px 20px;
    transition: color 0.3s ease;
    border: none;
    margin: auto;
}

form ul {
    padding: 0;
    margin: 0;
}

form input {
    background-color: rgb(245, 245, 245);
    margin-bottom: 20px;
}

.errorsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.errorsContainer ul li {
    font-size: 0.65em;
    color: red;
    line-height: 1.2em;
    animation: shake 0.4s linear;
    margin-bottom: 2px;
}

.superContainers {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.superContainers input {
    width: 100%;
}

.superContainers > div {
    width: 48%;
}

/* -------------------------- RIGHT-SECTION -------------------------- */

#secondSection {
    background-color: $violet-clair;
    color: $blanc;
}

#youWill {
    font-size: 1.8em;
    margin-bottom: 20px;
}

h2 {
    font-family: buenos_aires_trialblack, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2.3em;
    text-decoration: underline;
    margin-bottom: 40px;
}

section ul {
    list-style: none;
    font-size: 1.2em;
    line-height: 1.7em;
}

.fa-arrow-right {
    font-size: 1.1em;
    margin-right: 8px;
}

.citation {
    font-size: 0.7em;
    line-height: 1.4em;
    margin-top: 60px;
    text-align: right;
}

.author {
    display: block;
    margin-top: 10px;
}

/* -------------------------- RESPONSIVE -------------------------- */

@media (max-width: 1390px) {
    main {
        flex-direction: column;
    }

    #firstSection, #secondSection {
        width: 100%;
    }

    .citation {
        margin-bottom: 0;
    }

    #secondSection h2 {
        margin-top: 30px;
    }
}

@media (max-width: 800px) {
    #headerRegisterForm p a {
        font-size: 1.4em;
    }

    h1 {
        font-size: 2.7em;
    }

    section > div {
        width: 92%;
    }

    h2 {
        font-size: 2em;
    }

    #youWill {
        font-size: 1.5em;
    }

    section ul {
        font-size: 1.1em;
        line-height: 1.6em;
        padding-left: 10px;
    }

    .citation {
        margin-top: 35px;
    }

    #birthdayInputsContainer select {
        font-size: 0.8em;
    }

    #submitContainer {
        margin-top: 0;
    }
}

@media (max-width: 640px) {
    ::placeholder, #birthdayContainer label {
        font-size: 0.85em;
    }

    #headerRegisterForm p a {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1.8em;
    }

    h1 {
        font-size: 2.2em;
    }

    #firstSection form {
        padding: 15px;
    }

    #youWill {
        font-size: 1.3em;
    }
}