@import "../../core.scss";

/* -------------------------- MAIN -------------------------- */

main, section {
    display: flex;
}

section {
    padding: 30px 0;
}

#firstSection {
    width: 58%;
}

#secondSection {
    width: 42%;
}

section > div {
    width: 80%;
    margin: auto;
}

/* -------------------------- LEFT-SECTION -------------------------- */

h1 {
    color: $violet-clair;
    font-family: buenos_aires_trialblack, Arial, sans-serif;
    margin-bottom: 30px;
    text-align: center;
    font-size: 2.9em;
}

#headerRegisterForm {
    display: flex;
    background-color: $violet-clair;
    color: $blanc;
    height: 80px;
}

#headerRegisterForm p {
    display: flex;
    margin: 0;
    width: 50%;
    height: 100%;
}

#headerRegisterForm p a {
    margin: auto;
    color: rgb(180, 180, 180);
    font-size: 1.6em;
}

#headerRegisterForm p a:hover {
    text-decoration: none;
}

#selected {
    color: $blanc !important;
}

#pSelected {
    border-bottom: 7px solid $vert;
    box-sizing: content-box;
    z-index: 1;
}

#firstSection form {
    padding: 35px;
    background-color: $blanc-clair;
}

form input, #field-birthday {
    padding: 11px;
    border: none;
    background-color: rgb(245, 245, 245);
    margin-bottom: 20px;
}

form ul {
    padding: 0;
    margin: 0;
}

.errorsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.errorsContainer ul li, #candidat_password li, #recruiter_password li, #legalErrorsContainer li {
    font-size: 0.65em;
    color: red;
    line-height: 1.2em;
    animation: shake 0.4s linear;
    margin-bottom: 2px;
}

.superContainers > div {
    width: 48%;
}

.field-password {
    width: 100% !important;
}

#candidat_password, #recruiter_password {
    width: 100%;
}

#candidat_password_first, #candidat_password_second, #recruiter_password_first, #recruiter_password_second {
    width: 48%;
}

.superContainers, .field-password {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.superContainers input {
    width: 100%;
}

::placeholder, form label, #field-birthday select {
    font-size: 0.9em;
    color: rgba(51, 51, 51, 0.7);
}

form label {
    margin: 0;
}

#field-birthday select {
    padding: 3px 10px;
    margin-left: 10px;
}

#field-birthday div {
    width: max-content;
}

#candidat_password_second, #recruiter_password_second {
    float: right;
}

#candidat_password_first, #recruiter_password_first {
    float: left;
}

#legalErrorsContainer {
    display: flex;
    flex-direction: column;
}

.field-legalError, .field-legal, .field-businessError {
    width: 100% !important;
}

.field-legal {
    display: flex;
}

.field-legal p, .field-legal input {
    width: max-content !important;
    margin: auto 5px auto;
}

.field-legal p {
    font-size: 0.9em;
}

#submitContainer {
    display: flex;
    margin: 30px 0 0 0;
}

form button {
    letter-spacing: 2px;
    padding: 8px 20px;
    border: none;
    margin: auto;
    transition: color 0.3s ease;
}

form button:hover {
    color: white;
}

#field-businessLabel {
    margin-bottom: 5px;
}

#field-businessLabel label {
    text-decoration: underline;
}

#field-business-withJs {
    background-color: rgb(220, 220, 220);
    padding: 10px;
    margin-bottom: 15px;
}

#field-business-withJs div {
    display: flex;
}

#field-business-withJs div input {
    margin: auto 0 !important;
}

/* -------------------------- RIGHT-SECTION -------------------------- */

#secondSection {
    background-color: $violet-clair;
    color: $blanc;
}

#youWill {
    font-size: 1.8em;
    margin-bottom: 20px;
}

h2 {
    font-family: buenos_aires_trialblack, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2.3em;
    text-decoration: underline;
    margin-bottom: 40px;
}

section ul {
    list-style: none;
    font-size: 1.2em;
    line-height: 1.7em;
}

.fa-arrow-right {
    font-size: 1.1em;
    margin-right: 8px;
}

.citation {
    font-size: 0.7em;
    line-height: 1.4em;
    margin-top: 60px;
    text-align: right;
}

.author {
    display: block;
    margin-top: 10px;
}

/* -------------------------- RESPONSIVE -------------------------- */

@media (max-width: 1390px) {
    main {
        flex-direction: column;
    }

    #firstSection, #secondSection {
        width: 100%;
    }

    .citation {
        margin-bottom: 0;
    }

    #secondSection h2 {
        margin-top: 30px;
    }
}

@media (max-width: 800px) {
    #headerRegisterForm p a {
        font-size: 1.4em;
    }

    h1 {
        font-size: 2.7em;
    }

    section > div {
        width: 92%;
    }

    h2 {
        font-size: 2em;
    }

    #youWill {
        font-size: 1.5em;
    }

    #secondSection ul {
        font-size: 1.1em;
        line-height: 1.6em;
        padding-left: 10px;
    }

    .citation {
        margin-top: 35px;
    }
}

@media (max-width: 640px) {
    ::placeholder, #birthdayContainer label {
        font-size: 0.85em;
    }

    #headerRegisterForm p a {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1.8em;
    }

    h1 {
        font-size: 2.2em;
    }

    #firstSection form {
        padding: 25px 15px 15px 15px;
    }

    #youWill {
        font-size: 1.3em;
    }

    #field-birthday {
        display: block !important;
    }

    #birthDayLabelContainer label {
        margin-bottom: 5px;
    }

    .errorsContainer {
        width: 100% !important;
    }
}