@import './core.scss';

/* -------------------------- FONTS -------------------------- */

@font-face {
    font-family: 'aktivgrotesk-mediuploadedfile';
    src: url('fonts/aktivgrotesk-medium-webfont.woff2') format('woff2'),
    url('fonts/aktivgrotesk-medium-webfont.woff') format('woff'),
    url('fonts/aktivgrotesk-medium-webfont.ttf') format('truetype'),
    url('fonts/aktivgrotesk-medium-webfont.svg#aktivgrotesk-mediuploadedfile') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'buenos_aires_trialblack';
    src: url('fonts/buenosairestrial-black-webfont.woff2') format('woff2'),
    url('fonts/buenosairestrial-black-webfont.woff') format('woff'),
    url('fonts/buenosairestrial-black-webfont.ttf') format('truetype'),
    url('fonts/buenosairestrial-black-webfont.svg#buenos_aires_trialblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* -------------------------- MAIN -------------------------- */

body {
    font-family: aktivgrotesk-mediuploadedfile, Arial, sans-serif;
    background-color: $blanc;
    scroll-behavior: smooth;
}

#totalPageContent {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    min-height: calc(100vh - 80px);
    transition: filter 0.5s ease;
}

main {
    flex: 1;
    animation: fadeIn 0.3s ease both;
}

.commonButtonStyle {
    background-color: $vert;
    text-transform: uppercase;
    color: $blanc;
    border: none;
}

#bodyFilter {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);
    z-index: 3;
    animation: fadeIn 0.6s ease;
}

/* -------------------------- NAVIGATION -------------------------- */

#findLabTitle {
    font-size: 1.7em;
    margin: auto;
}

#commonNavigationBar {
    padding: .5rem 1rem;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    background-color: $violet-clair;
}

#allLinksContainer {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

#defaultNavLinksContainer {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

#defaultNavLinksContainer li {
    margin: auto 14px;
}

#defaultNavLinksContainer li a:after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width 0.6s ease, background-color 0.6s ease;
    -webkit-transition: width 0.6s ease, background-color 0.6s ease;
}

#defaultNavLinksContainer li a:hover:after {
    width: 100%;
    background: white;
}

#commonNavigationBar a, footer a {
    color: $blanc;
    transition: color 0.3s ease;
}

#commonNavigationBar a:hover, footer a:hover {
    text-decoration: none;
    color: $blanc-clair;
}

.defaultNavLinks {
    font-size: 0.96em !important;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.commonButtons {
    background-color: $vert;
    letter-spacing: 3px;
    color: $blanc;
    text-transform: uppercase;
}

#mobileButton {
    background-color: $violet-clair;
    color: $blanc;
    padding: 0 20px;
    border: none;
    font-size: 2.4em;
    display: none;
    z-index: 1001;
}

.defaultNavLinksSeparators {
    display: none;
}

.importantLinks {
    background-color: $blanc-clair !important;
    color: $noir !important;
    padding: 8px 16px;
    font-size: 0.88em !important;
    font-weight: bold;
    border-radius: 2px;
    transition: color 0.3s ease;
}

.importantLinks:hover {
    color: black !important;
}

.importantLinks:after {
    display: none !important;
}

/* -------------------------- FOOTER -------------------------- */

footer {
    display: flex;
    justify-content: space-between;
    background-color: $violet-clair;
    color: $blanc;
    height: 80px;
    padding: .5rem 1rem;
}

footer div {
    width: max-content;
    margin: auto 0;
}

#findLabTitle2 {
    font-size: 1.6em;
    color: white;
}

.copyright {
    padding: .5rem;
}

/* -------------------------- ANIMATIONS -------------------------- */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1 !important;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

/* -------------------------- CLASS FOR JAVASCRIPT -------------------------- */

.invisible {
    display: none !important;
}

.linkSelected {
    color: $blanc !important;
    background-color: $violet-fonce;
    transition: all 0.3s ease;
}

.reduced {
    height: 0;
    transform: scaleY(0);
}

.deployed {
    height: max-content;
    transform: scaleY(1);
    transition: all 0.3s ease;
}

.appear {
    animation: fadeIn 0.5s ease both;
}

.disapear {
    animation: fadeOut 0.4s ease both;
}

.fadeInRight {
    animation: fadeInRight 0.4s ease both;
}

/* -------------------------- RESPONSIVE -------------------------- */

@media (max-width: 1000px) {
    body {
        font-size: 95% !important;
    }

    #bodyFilter {
        display: block;
    }

    #mobileButton {
        display: block;
    }

    #defaultNavLinksContainer li a:after {
        display: none;
    }

    #defaultNavLinksContainer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: $violet-fonce;
        flex-direction: column;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        transition: all 0.5s ease;
        opacity: 1;
        padding: 15px 0;
    }

    #defaultNavLinksContainer li {
        margin: 8px auto;
        width: max-content;
    }

    .defaultNavLinksSeparators {
        display: inline-block;
        width: 50%;
        max-width: 280px;
        z-index: 1000;
        background-color: rgba(255, 255, 255, 0.3);
        margin: 10px auto;
    }

    .mobileHidden {
        top: -200% !important;
        opacity: 0 !important;
    }
}
