/* -------------------------- VARIABLES -------------------------- */

$violet-fonce: #3812b2;
$violet-clair: #4115cf;
$vert: #3bdcc0;
$blanc: rgb(250, 249, 250);
$blanc-clair: rgb(254, 254, 254);
$noir: rgb(51, 51, 51);