/* -------------------------- VARIABLES -------------------------- */

$violet-fonce: #3812b2;
$violet-clair: #4115cf;
$vert: #1abda2;
$blanc: #eef1f9;
$blanc-clair: rgb(248, 248, 248);
$noir: rgb(51, 51, 51);
