<div class="container d-flex flex-wrap">
    <div class="container mb-5 mt-5 ">
        <a class="text-white" href="{{ path('candidate_profile')}}">Profil</a>
    </div>
    <div class="container mb-5 mt-5">
        <a class="text-white" href="{{ path('candidate_update_profile')}}" >Changer mon profil</a>
    </div>
    <div class="container mb-5 mt-5">
        <a class="text-white" href="{{ path('candidate_applications')}}" >Candidatures</a>
    </div>
    <div class="container mb-5 mt-5">
        <a class="text-white" href="{{ path('candidate_cv')}}">CV</a>
    </div>
</div>