<div class="list-group  d-flex flex-column  justify-content-around list-group-flush  pt-5" >
    <a class="list-group-item list-group-item-action"  href="{{ path('candidate_profile')}}">Profile</a>
    <a class="list-group-item list-group-item-action" 
       href="{{ path('candidate_applications')}}" >Candidatures</a>
    <a class="list-group-item list-group-item-action"  href="{{ path('candidate_cv')}}">CV</a>
    <a class="list-group-item list-group-item-action" 
       href="{{ path('candidate_update_profile')}}" >changer mon profile</a>
</div>