{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}Liste des candidats{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('candidatesList') }}
{% endblock %}

{% block content %}
    <div id="paginationContainer" class="container mt-3 d-flex justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('candidatesList') }}
{% endblock %}