@import "../../core.scss";

h1 {
    font-size: 2rem;
    font-family: buenos_aires_trialblack;
}

h2 {
    font-size: 2rem;
    margin-left: 5px;
    margin-top: 10px;
}

h2 a {
    color: #3a3a3a;
    text-decoration: none;
}

p {
    margin-bottom: 0em;
}

hr {
    margin: 0rem;
}

figure {
    margin-top: 1rem;
}

.title {
    text-align: center;
    margin-top: 3rem;
}

.displayBusinessDetails {
    margin: auto 20px;
}
 
.businessImgContainer {
    width: max-content;
    margin-left: 2rem;
    margin-top: 1rem;
}

.businessImgContainer figure {
    width: 150px;
    min-width: 150px;
    height: 150px;
    min-height: 150px;
    border-radius: 50%;
    border: 1px solid rgba(51, 51, 51, 0.4);
    display: flex;
}

.businessImgContainer figure img {
    width: 100%;
    height: auto;
    margin: auto;
}

.bodyBusinessPage {
    font-size: 0.8rem;
    width: 60%;
    margin: auto;
    background-color: $blanc-clair;
    margin-top: 100px;
}

.displayBusiness {
    display: flex;
    margin-bottom: 1rem;
    height: 50%;
}

.businessImg {
    display: table-cell;
}

.displayBusiness ul {
    padding: 0;
    list-style: none;
}

.displayBusiness ul > li{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

@media (max-width: 1200px) {

    .businessImgContainer {
        width: max-content;
        margin: auto;
    }

    .displayBusiness {
        height: 50%;
        display: flex;
        flex-direction: column;
    }

    .businessImg {
        align-self: center;
    }
    
    .displayUlBusinessDetails {
        display: inline;
        margin: 0em;
    }

    .displayUlBusinessDetails li{
        width: max-content;
    }

    .businessName {
        text-align: center;
        margin: 0rem;
    }

}



    
    
