@import "../../core";

/* -------------------------- MAIN -------------------------- */

#totalPageContent {
    max-height: calc(100vh - 100px);
}

main {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.row {
    justify-content: space-between !important;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------------- LOADER -------------------------- */

#loading {
    display: flex;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: calc(100% + 30px);
    top: -30px;
    animation: changeBackgroundColor 0.2s ease both;
}

.lds-ring {
    display: inline-block;
    margin: auto;
    position: relative;
    width: 160px;
    height: 160px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 128px;
    height: 128px;
    margin: 8px;
    border: 8px solid #3812b2;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #3812b2 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes changeBackgroundColor {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }

    100% {
        background-color: rgba(255, 255, 255, 0.4);
    }
}

/* -------------------------- LEFT-SECTION -------------------------- */

.categoryContainers {
    margin: 10px 0;
}

#leftSection {
    text-align: left;
    background-color: white;
    padding: 15px;
    width: 30%;
    height: max-content;
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.fieldsCategoriesControllers {
    font-size: 0.9em;
    font-weight: bold;
    color: black;
}

.categoriesLinks {
    display: inline-block;
    color: rgba(51, 51, 51, 0.5);
    font-size: 0.8em;
    padding: 3px 6px;
    border: 1px solid rgba(51, 51, 51, 0.5);
    white-space: nowrap;
    margin: 3px 2px;
    font-weight: bold;
}

.categoriesLinks label {
    cursor: pointer;
}

.categoriesLinks:hover {
    color: rgba(51, 51, 51, 0.5);
    text-decoration: inherit;
}

.categoriesSeparators {
    width: 100%;
    height: 1px;
    margin: 14px 0;
}

.fieldsContainers {
    margin-bottom: 10px;
}

#leftSection input[type=radio] {
    display: none;
}

#leftSection label {
    margin: 0;
}

/* -------------------------- RIGHT-SECTION -------------------------- */

#rightSection {
    overflow: auto;
    width: 65%;
    height: 100%;
    padding-right: 20px;
}

.linkOffer {
    a:hover, a:visited, a:active, a:link{
        text-decoration: none;
        color: inherit;
    }
}

main {
    display: flex;
    margin-top: 30px;
    min-height: 800px;
}

section {
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

section#test {
    display: flex;
    width: 30%;
}

#test form {
    width: 90%;
    margin: auto
}

#apply_motivation {
    width: 100%;
    height: calc(100vh - 250px);
    min-height: 600px;
}

.iconeOffer{
    display: flex;
    justify-content: center;

}

.iconeOffer p{
    margin-left: 15px;
    margin-right: 15px;
}

#paginationContainer {
    height: max-content !important;
}

#noOfferErrorMessageContainer {
    background-color: $violet-clair;
    color: $blanc;
    padding: 15px;
}