@import "./../../core.scss";

/* -------------------------- MAIN -------------------------- */

main {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

#contentContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* -------------------------- LEFT-SECTION -------------------------- */

header {
    font-size: 0.9em;
}

header h1 {
    font-family: buenos_aires_trialblack, Arial, sans-serif;
    color: $violet-clair;
    font-size: 2em;
    margin-bottom: 5px;
}

section {
    margin-top: 10px;
    padding: 25px;
    background-color: $blanc-clair;
}

#leftSection {
    width: 65%;
}

.superContainers {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 6px;
    font-size: 0.85em;
    color: rgb(51, 51, 51);
}

form input, form select, form textarea, #sliderValue {
    margin-bottom: 20px;
    font-size: 0.8em;
}

form input {
    padding: 5px 10px;
}

form select {
    padding: 8px 14px;
}

form textarea {
    min-height: 300px;
    height: 300px;
    max-height: 500px;
    padding: 12px;
}

#sliderValue {
    margin-top: 5px;
    text-align: right;
}

#offer_salary {
    display: none;
}

.flexContainers {
    display: flex;
    justify-content: space-between;
}

.flexContainers > div {
    width: 48%;
}

#offerFormSubmitButton {
    margin-top: 15px;
    font-size: 1.05em;
    padding: 6px 12px;
    color: $blanc;
    transition: color 0.3s ease;
    border: none;
}

#offerFormSubmitButton:hover {
    color: $blanc-clair;
}

.noUi-touch-area {
    background-color: $violet-clair;
}

.noUi-handle {
    cursor: pointer;
}

/* -------------------------- RIGHT-SECTION -------------------------- */

#rightSection {
    width: 30%;
    height: 100%;
}

#formCategoriesContainer {
    font-size: 0.85em;
}

#formCategoriesContainer input[type=checkbox] {
    display: none;
}

.categoriesSelectors label {
    display: inline-block;
    color: rgba(51, 51, 51, 0.5);
    font-size: 0.8em;
    padding: 3px 6px;
    border: 1px solid rgba(51, 51, 51, 0.5);
    white-space: nowrap;
    margin: 3px 2px;
    font-weight: bold;
    cursor: pointer;
}

#categoriesSelectorsError {
    color: red;
    font-size: 0.78em;
    margin-bottom: .5rem;
    animation: shake 0.4s linear;
}

.textareaCount {
    text-align: right;
    margin-top: -17px;
    font-size: 0.8em;
    color: red;
}

#displayCategoriesForMobilesContainer {
    color: $violet-clair;
    display: none;
    margin-top: 18px;
}

#displayCategoriesForMobilesContainer a {
    display: block;
    margin: auto;
    width: max-content;
    color: $violet-clair;
    font-size: 0.9em;
}

#displayCategoriesForMobilesContainer a:hover {
    color: $violet-clair;
    text-decoration: none;
    text-transform: none;
}

/* -------------------------- UNIQUE-SECTION (ERROR) -------------------------- */

#uniqueSection {
    width: 100%;
    color: $blanc-clair;
    background-color: $violet-clair;
    padding: 25px;
}

#uniqueSection p {
    margin: 0;
    font-size: 1.05em;
}

.indicationsContainers {
    display: flex;
}

.indicationsContainers > span, .indicationsContainers svg {
    display: block;
    align-self: auto;
}

#uniqueSection .indicationsContainers svg {
    font-size: 2em;
    margin: auto 25px auto 0;
}

#uniqueSection p span a {
    color: $blanc;
    text-decoration: underline;
    transition: color 0.3s ease;
}

#uniqueSection p span a:hover {
    color: $blanc-clair;
}

/* -------------------------- RESPONSIVE -------------------------- */

@media (max-width: 1500px) {
    main {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    #contentContainer {
        flex-direction: column-reverse;
    }

    #leftSection, #rightSection {
        width: 100%;
    }

    #leftSection {
        margin-top: 18px;
    }

    .mobileReduced {
        display: none;
    }

    #displayCategoriesForMobilesContainer {
        display: flex;
    }
}

@media (max-width: 740px) {
    section {
        padding: 20px;
    }

    .flexContainers {
        display: block;
    }

    .flexContainers > div {
        width: 100%;
    }
}