@import "../../core.scss";

/* -------------------------- MAIN -------------------------- */

main {
    width: 80%;
    margin: auto;
    padding: 30px 0;
}

/* -------------------------- OFFER-INFO -------------------------- */

#offerInfosContainer {
    display: flex;
    width: 63%;
    background-color: $blanc-clair;
    padding: 25px;
}

#businessImgContainer {
    display: flex;
    width: 15%;
}

#offerInfosTextContainer {
    width: 85%;
    padding-left: 25px;
}

#businessImgContainer figure {
    display: flex;
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid rgba(51, 51, 51, 0.4);
    background-color: $blanc-clair;
}

#businessImgContainer figure img {
    width: 100%;
    height: auto;
    margin: auto;
}

#offerInfosTextContainer {
    width: 70%;
}

#offerInfosTextContainer h1 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 5px;
}

#businessName {
    color: $violet-clair;
    font-weight: bold;
}

.offersCategoriesContainers {
    display: flex;
    flex-wrap: wrap;
}

.offersCategoriesContainers p {
    white-space: nowrap;
    font-size: 0.9em;
    color: rgba(51, 51, 51, 0.5);
    margin: 0 10px 6px 0;
}

#businessNameContainer, #postedAtContainer {
    margin-bottom: 5px;
}

#postedAtContainer, #startedAt {
    font-size: 0.9em;
}

#startedAt {
    color: $violet-fonce;
    font-weight: bold;
}

#applyButton {
    padding: 6px 12px;
    letter-spacing: 2px;
    border: none;
    transition: color 0.3s ease;
}

#applyButton:hover {
    color: white;
}

#userHasAlreadyApply {
    width: max-content;
    padding: 6px 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    background-color: $violet-clair;
}

/* -------------------------- CONTENT -------------------------- */

#contentContainer {
    width: 63%;
    justify-content: space-between;
    margin-top: 40px;
}

#offerDetailsContainer {
    width: 100%;
    margin-bottom: 30px;
    padding: 25px;
    background-color: $blanc-clair;
}

#offerDetailsContainer p {
    font-size: 1.1em;
    line-height: 1.6em;
    color: rgb(51, 51, 51);
}

h2 {
    font-family: buenos_aires_trialblack, Arial, sans-serif;
    color: $violet-clair;
    margin-bottom: 20px;
    font-size: 1.6em;
}

.offerDetailsSeparators {
    margin: 40px 0;
}

/* -------------------------- FIXED-CONTENT -------------------------- */

.fixedContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    background-color: $blanc-clair;
    height: max-content;
    position: fixed;
    width: calc(30% - 40px);
    top: 110px;
    bottom: 350px;
    min-height: 300px;
    right: 10%;
    left: calc(10% + 50.4%);
    margin-left: 40px;
}

.indicationsContainers {
    display: flex;
}

.indicationsContainers {
    margin: 15px 0;
}

.indicationsContainers > span, .indicationsContainers svg {
    display: block;
    align-self: auto;
}

.indicationsContainers svg {
    font-size: 1.4em;
    margin-right: 10px;
}

#numberOfApplys {
    font-weight: bold;
    color: $violet-clair;
}

#connected {
    color: $vert;
}

#nonConnected, #needConnectorRegister {
    color: red;
}

#nonAllowed {
    color: $violet-clair;
}

#errorNotAllowedToApply {
    font-size: 1.2em;
}

#applyContainer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.specials {
    margin: 0 0 6px 15px;
    font-size: 0.97em;
}

.specials {
    margin-bottom: 15px;
}

.specials a {
    color: $violet-clair;
    font-weight: bold;
}

.specials a:hover {
    text-decoration: none;
    $color: $violet-fonce;
}

#newWindowLinkInfo {
    color: rgba(51, 51, 51, 0.8);
}