@import "../../core";

/* -------------------------- MAIN -------------------------- */

main {
    width: 100%;
    margin-top: 0;
}

.row {
    justify-content: space-between !important;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
}

/* -------------------------- LOADER -------------------------- */

#loading {
    display: flex;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100% !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: changeBackgroundColor 0.2s ease both;
}

.lds-ring {
    display: inline-block;
    margin: auto;
    position: relative;
    width: 160px;
    height: 160px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 128px;
    height: 128px;
    margin: 8px;
    border: 8px solid #3812b2;
    border-color: $violet-clair transparent transparent transparent;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes changeBackgroundColor {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }

    100% {
        background-color: rgba(255, 255, 255, 0.4);
    }
}

/* -------------------------- DESCRIPTION-SECTION -------------------------- */

#offersPageDescription {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    font-size: 0.9em;
}

h1 {
    font-size: 2em;
    font-family: buenos_aires_trialblack, Arial, sans-serif;
    color: $violet-fonce;
    margin-bottom: 5px;
}

#createOfferLinkForRecruiter {
    position: absolute;
    top: 23px;
    right: 0;
    margin: auto 0;
    letter-spacing: 1px;
    font-size: 1.1em;
    text-transform: uppercase;
    padding: 8px 18px;
    background-color: $violet-clair;
    color: $blanc;
    transition: color 0.3s ease;
    border-radius: 2px;
}

#createOfferLinkForRecruiter:hover {
    color: $blanc-clair;
    text-decoration: none;
}

/* -------------------------- LEFT-SECTION -------------------------- */

.categoryContainers {
    margin: 10px 0;
}

#leftSection {
    text-align: left;
    background-color: $blanc-clair;
    padding: 15px;
    width: 30%;
    height: max-content;
    margin-bottom: 30px;
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.fieldsCategoriesControllers {
    font-size: 0.9em;
    font-weight: bold;
    color: black;
}

.categoriesLinks {
    display: inline-block;
    color: rgba(51, 51, 51, 0.5);
    font-size: 0.8em;
    padding: 3px 6px;
    border: 1px solid rgba(51, 51, 51, 0.5);
    white-space: nowrap;
    margin: 3px 2px;
    font-weight: bold;
}

.categoriesLinks label {
    cursor: pointer;
}

.categoriesLinks:hover {
    color: rgba(51, 51, 51, 0.5);
    text-decoration: inherit;
}

.categoriesSeparators {
    width: 100%;
    height: 1px;
    margin: 14px 0;
}

.fieldsContainers {
    margin-bottom: 10px;
}

#leftSection input[type=radio] {
    display: none;
}

#leftSection label {
    margin: 0;
}

#categories_location {
    padding: 4px 7px;
    font-size: 0.85em;
}

#submitCitySearch {
    margin-left: 10px;
    padding: 4px 18px;
    background-color: $violet-fonce;
    border: none;
    color: white;
    border-radius: 2px;
}

#submitCitySearch:hover {
    background-color: $violet-clair;
}

#displayCategoriesForMobilesContainer {
    display: none;
    width: 100%;
}

#displayCategoriesForMobiles {
    width: max-content;
    margin: 20px auto;
    color: $violet-clair;
    font-size: 0.9em;
}

#displayCategoriesForMobiles:hover {
    text-decoration: none;
}

/* -------------------------- RIGHT-SECTION -------------------------- */

#rightSection {
    width: 65%;
    height: 100%;
    word-break: break-word;
}

.linkOffer {
    a:hover, a:visited, a:active, a:link{
        text-decoration: none;
        color: inherit;
    }
}

.d-flex {
    background-color: $blanc-clair;
}

main {
    display: flex;
    min-height: 830px;
}

section {
    width: 70%;
    display: flex;
    flex-direction: column;
}

#rightSection h4 {
    font-family: aktivgrotesk-mediuploadedfile, Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 1.6em;
}

h5 {
    font-size: 1em;
}

.offersLinks {
    font-family: aktivgrotesk-mediuploadedfile, Arial, sans-serif;
    color: $violet-fonce !important;
    font-weight: bold;
}

.offersCategoriesContainers {
    display: flex;
    flex-wrap: wrap;
}

.offersCategoriesContainers p {
    white-space: nowrap;
    font-size: 0.9em;
    color: rgba(51, 51, 51, 0.7);
    margin: 0 10px 4px 0;
}

.offersDescriptions {
    font-size: 0.9em;
}

.clickToKnowMoreLinks {
    font-size: 0.9em;
    color: $violet-clair;
}

#paginationContainer {
    height: max-content !important;
    margin-bottom: 30px;
    background-color: inherit !important;
}

.page-link {
    border-color: $violet-fonce !important;
    color: $violet-clair !important;
}

.page-item.active .page-link {
    background-color: rgba(51, 51, 51, 0.7) !important;
    color: white !important;
}

#noOfferErrorMessageContainer {
    background-color: $violet-clair;
    color: $blanc;
    padding: 15px;
}

.businessImgContainer {
    display: flex;
    background-color: inherit;
    width: 160px;
    max-width: 160px;
    height: 160px;
    max-height: 160px;
    margin: auto 10px auto 0;
}

.businessImgContainer img {
    width: 70%;
    max-width: 70%;
    height: auto;
    max-height: 100%;
    margin: auto;
}

.offersInfosContainers {
    background-color: inherit !important;
}

.ghost {
    opacity: 0;
}

.offersContainers {
    padding: 10px;
}

/* -------------------------- RESPONSIVE -------------------------- */

@media (max-width: 1500px) {
    .row, #offersPageDescription {
        width: 90%;
    }

    #offersPageDescription {
        margin-left: 5%;
    }
}

@media (max-width: 1300px) {
    #createOfferLinkForRecruiter {
        display: none !important;
    }
}

@media (max-width: 1000px) {
    .row, main {
        flex-direction: column !important;
    }

    #leftSection, #rightSection {
        width: 100%;
    }

    #rightSection .container {
        max-width: inherit;
    }

    #leftSection {
        margin-top: 30px;
        margin-bottom: 0;
    }

    #displayCategoriesForMobilesContainer {
        display: flex;
    }

    .mobileReduced {
        display: none;
    }

    .card-title, .offersCategoriesContainers {
        margin-bottom: 8px !important;
    }
}

@media (max-width: 700px) {
    .pagination {
        font-size: 0.8em !important;
    }

    .d-flex {
        flex-direction: column;
    }

    #paginationContainer nav {
        display: flex;
    }

    #paginationContainer ul {
        margin: auto;
    }

    .card-body {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #offersPageDescription {
        position: static;
    }

    .row {
        margin-top: 0;
    }
}