@import "../../core.scss";

/* -------------------------- MAIN -------------------------- */

main {
    width: 80%;
    margin: auto;
    padding: 30px 0;
}

.alert-success, .alert-dark {
    width: max-content;
    max-width: 63%;
    margin-bottom: 35px;
}

/* -------------------------- OFFER-INFO -------------------------- */

#offerInfosContainer {
    display: flex;
    width: 63%;
    background-color: $blanc-clair;
    padding: 25px;
}

#businessImgContainer {
    display: flex;
    width: 18%;
}

#offerInfosTextContainer {
    width: 82%;
    padding-left: 25px;
}

#businessImgContainer figure {
    display: flex;
    width: 150px;
    min-width: 150px;
    height: 150px;
    min-height: 150px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid rgba(51, 51, 51, 0.4);
    background-color: $blanc-clair;
}

#businessImgContainer figure img {
    width: 100%;
    height: auto;
    margin: auto;
}

#offerInfosTextContainer {
    width: 70%;
}

#offerInfosTextContainer h1 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 5px;
}

#businessName {
    color: $violet-clair;
    font-weight: bold;
}

.offersCategoriesContainers {
    display: flex;
    flex-wrap: wrap;
}

.offersCategoriesContainers p {
    white-space: nowrap;
    font-size: 0.9em;
    color: rgba(51, 51, 51, 0.7);
    margin: 0 10px 6px 0;
}

#businessNameContainer, #postedAtContainer {
    margin-bottom: 5px;
}

#postedAtContainer, #startedAt {
    font-size: 0.9em;
}

#startedAt {
    color: $violet-fonce;
    font-weight: bold;
}

#applyButton {
    padding: 6px 12px;
    letter-spacing: 2px;
    border: none;
    transition: color 0.3s ease;
}

#applyButton:hover {
    color: white;
}

#userHasAlreadyApply {
    width: max-content;
    padding: 6px 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    background-color: $violet-clair;
}

/* -------------------------- CONTENT -------------------------- */

#contentContainer {
    width: 63%;
    justify-content: space-between;
    margin-top: 40px;
}

#offerDetailsContainer {
    width: 100%;
    margin-bottom: 30px;
    padding: 25px;
    background-color: $blanc-clair;
    word-break: break-word;
}

#offerDetailsContainer p {
    font-size: 1.05em;
    line-height: 1.6em;
    color: rgb(51, 51, 51);
}

h2 {
    font-family: buenos_aires_trialblack, Arial, sans-serif;
    color: $violet-clair;
    margin-bottom: 20px;
    font-size: 1.6em;
}

.offerDetailsSeparators {
    margin: 40px 0;
}

/* -------------------------- MAP -------------------------------- */

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }

/* -------------------------- FIXED-CONTENT -------------------------- */

.fixedContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    background-color: $blanc-clair;
    height: max-content;
    max-height: 350px;
    position: fixed;
    width: calc(30% - 40px);
    top: 110px;
    bottom: 350px;
    min-height: 300px;
    right: 10%;
    left: calc(10% + 50.4%);
    margin-left: 40px;
}

.indicationsContainers {
    display: flex;
    margin: 15px 0;
}

.indicationsContainers > span, .indicationsContainers svg {
    display: block;
    align-self: auto;
}

.indicationsContainers svg {
    font-size: 1.4em;
    margin-right: 10px;
}

#numberOfApplys {
    font-weight: bold;
    color: $violet-clair;
}

#needConnectorRegister, #errorNoCV {
    color: red;
}

#nonAllowed {
    color: $violet-clair;
}

#errorNotAllowedToApply, #noCVIndicator {
    font-size: 1.2em;
    line-height: 1.4em;
}

#applyContainer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.specials {
    margin: 0 0 6px 15px;
    font-size: 0.97em;
}

.specials {
    margin-bottom: 15px;
}

.specials a, #noCVIndicator a {
    color: $violet-clair;
    font-weight: bold;
}

.specials a:hover, #noCVIndicator a:hover {
    text-decoration: none;
    $color: $violet-fonce;
}

#errorNoCV > span {
    display: flex !important;
    align-self: center !important;
    align-items: center !important;
}

#newWindowLinkInfo {
    color: rgba(51, 51, 51, 0.8);
}

#applyContainerButton {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $violet-clair;
    font-size: 1.6em;
    transition: color 0.3s ease;
    border: none;
    background-color: $blanc-clair;
    padding: 0;
}

#applyContainerButton:hover {
    color: $violet-fonce;
}

#applyContainer form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#apply_motivation {
    width: 94%;
    height: 300px;
    min-height: 300px;
    max-height: 550px;
    padding: 15px;
    font-size: 0.9em;
    margin: auto;
}

#submitButtonForApply {
    border: none;
    padding: 7px 14px;
    margin: 5px 15px;
    width: max-content;
    transition: 0.3s ease;
}

#submitButtonForApply:hover {
    color: white;
}

#motivationCountContainer {
    text-align: right;
    font-size: 0.8em;
    margin: 3px 3% 0 0;
}

.redirectErrorNoUserLinks {
    color: $blanc !important;
    padding: 8px 14px;
    transition: color 0.3s ease;
    margin-bottom: 20px;
}

.redirectErrorNoUserLinks:hover {
    color: white !important;
}

.buttonsContainers {
    margin-top: 10px;
}

/* -------------------------- RESPONSIVE -------------------------- */

@media (max-width: 1800px) {
    #offerInfosTextContainer {
        width: 78%;
    }

    #businessImgContainer {
        width: 22%;
    }
}

@media (max-width: 1500px) {
    main {
        width: 90%;
    }

    .fixedContent {
        width: calc(34% - 40px);
        right: 5%;
        left: calc(11% + 50.4%);
    }
}

@media (max-width: 1200px) {
    #offerInfosTextContainer {
        width: 75%;
    }

    #businessImgContainer {
        width: 25%;
    }
}

@media (max-width: 1100px) {
    .fixedContent {
        position: static;
        width: 100%;
        margin-left: 0;
        margin-bottom: 40px;
    }

    .alert-success, .alert-dark {
        max-width: 100%;
    }

    #offerInfosContainer, #contentContainer {
        width: 100%;
    }
}

@media (max-width: 740px) {
    #businessImgContainer {
        display: none;
    }

    #offerInfosTextContainer {
        width: 100%;
        padding-left: 0;
    }

    h1 {
        font-size: 1.6em;
    }

    #offerDetailsContainer, .fixedContent, #offerInfosContainer {
        padding: 20px;
    }
}

