<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="FindLab, la solution facile pour faire exploser votre carrière dans le domaine du numérique." />
        <title>{% block title %}FindLab - {% endblock %}</title>

        {{ encore_entry_link_tags("app") }}
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}

        {{ encore_entry_script_tags("app") }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
