{% extends 'base.html.twig'  %}

{% block body %}
    {{ include("common_components/nav.html.twig") }}

    <div id="totalPageContent">
        <div id="bodyFilter" class="invisible"></div>

        <main>
            {% block content %}{% endblock %}
        </main>

        {{ include("common_components/footer.html.twig") }}
    </div>
{% endblock %}
