{% extends '@!EasyAdmin/default/layout.html.twig' %}

{% set _content_title = 'FindLab: Administration' %}

{% block page_title -%}
    {{ _content_title }}
{%- endblock %}

{% block content_header %}
    <h1 class="title">Bienvenue sur l'espace d'administration de FindLab</h1>
{% endblock %}
