<div style="width: 95%; margin-left: auto; margin-right: auto;">
    <div style="color: rgb(51, 51, 51); font-size: 16px; line-height: 22px;">
        <p style="font-style: italic; font-size: 19px; margin-bottom: 35px">
            Vous recevez cet e-mail car vous avez postuler à une annonce.
            <br>
            Le titre de l'annonce : {{offer.title}}
            <br>
            L'éxperience de l'annonce : {{offer.experience}}
            <br>
            Le salaire de l'annonce : {{offer.salary}}
            <br>
            Le type de l'annonce : {{offer.type}}
        </p>
        <p> 
            Vous pourriez retrouvez l'annonce dans la section prévu a cette effet située dans votre profil
        </p>
    </div>
</div>