<footer>
    <div class="container">
        <div class="row">
            <h3 class="col-sm-12 col-md-6 col-lg-4">FindLAB</h3>

            <div class="col-sm-12 col-md-6 col-lg-8">
                <div class="row">
                    <div class="col">
                        <p><a href="">lien1</a></p>
                        <p><a href="">lien2</a></p>
                        <p><a href="">lien3</a></p>
                    </div>
                    <div class="col">
                        <p><a href="">lien1</a></p>
                        <p><a href="">lien2</a></p>
                        <p><a href="">lien3</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class ="text-center mt-5">
            FindLab-tout droits reservés
        </div>
    </div>
</footer>